/*************************************
General
*************************************/
html{
	border-left: 10px solid lightgrey;
	
}
body{
	font-family: 'Lato', sans-serif;
	margin:0 auto;
	max-width:900px;
	font-weight: 400;
	font-size: 18px;
}
img{
	width: 100%;
}
a{
	text-decoration: none;

}
ul{
	list-style: none;
	padding:0;
	text-align: left;
}
nav li{
	display:inline-block;

}
div{
	display: block;
	margin-top: 100px;
}
.logo{
	font-size: 25px;
}

/*************************************
Nav
*************************************/
#top-nav li a{	
	margin-right: 15px;
	text-decoration: underline;
	text-align: none;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}
.continues{
	position: relative;
	text-align: right;
	
}

/*************************************
Articles
*************************************/
p:first-letter{
	font-size: 4em;
	color:lightgrey;
	float:left;
	padding: 0;
	margin:-10px 5px;
	padding: 0px 5px;
	line-height: 1.3em;
	font-size: 4em;
}

p{
	line-height: 1.5em;


}

/*************************************
Footer
*************************************/
footer{
	clear:both;
}
.footer-nav li {

}

/*************************************
Color
*************************************/
/*TOP NAV*/
#top-nav a:link, a:visited, a:hover, a:active   {
    color: lightgrey;
}

.continues a:link, a:visited, a:hover, a:active{
	color:red;
}
 /*FOOTER NAV*/   

.footer-nav a:link, a:visited, a:hover, a:active{
	color:red;
}

.red{
	color:red;
}
.grey{
	color:lightgrey;
}

/*************************************
Text Size
*************************************/
h1, h2{
	font-weight: 300;
}	