body{
  background-image: url(../img/traffic.jpg);
}

.trafficlight{
  float:left;
  background-color:orange;
  padding-left:20px;
  padding-right:20px;
  border:1px solid black;
}

body{
  width:960px;
  margin:40px auto;
}

.button{
  float:right;
}

div{
  font-size: 64px;
  text-align: center;
}

/********************************
red light
********************************/
.redlight{
  margin-top: 20px;
  width: 300px; 
  height: 300px;
  background-color: darkred;
  border-radius: 150px;
  border:2px solid black;
 
}

.redlight:hover {
  background-color:red;
}

/********************************
Yellow light
********************************/
.yellowlight{
  margin-top: 30px;
  width: 300px; 
  height: 300px;
  background-color:#CC9900;
  border-radius: 150px;
  border:2px solid black;
}

.yellowlight:hover {
  background-color:#FFF000;
}

/********************************
green light
********************************/
.greenlight{
  margin-top: 30px;
  width: 300px; 
  height: 300px;
  background-color:#003300;
  border-radius: 150px;
  border:2px solid black;
}

.greenlight:hover {
  background-color:#00FF00;
}

/********************************
Buttons
********************************/
.stop, .caution, .go{
  height:200px;
  width: 300px;
  padding:15px 50px;
  cursor:pointer;
  color:#FFF;
  font-size:1em;
  border:1px solid #eee;
  background:#eee;
  border-radius:4px;
  line-height:2em;
  border:1px solid #aaa;
  text-decoration:none;
  transition: all 0.3s linear;
  } 
 .stop{
    margin-top:52px;
   }
.caution{
    margin-top:104px;
}
.go {
    margin-top:104px;
}

.stop:hover, .caution:hover, .go:hover{
  box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.stop:hover + .redlight { background-color: lightgreen; 

}

.light {
    display: block;
    position: relative;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 50%,rgba(255,255,255,0) 100%);
    padding: 1px 9px;
    top: -16px;
    left: -53px;
    height: 0px;
}

/******************************************************************* 
Green BUtton Background
********************************************************************/
.green{
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956)); 
}

/*********************************************************************
Red Button Background
********************************************************************/
.red{
  background: -webkit-linear-gradient(top, #ff3019 0%,#cf0404 100%);
}

/*********************************************************************
Yellow Button Background
********************************************************************/
.yellow{
  background: -webkit-linear-gradient(top, #ffd65e 0%,#febf04 100%); 
}


/*********************************************************************
Button Effects and animation
********************************************************************/
.stop:hover .light, .caution:hover .light, .go:hover .light{
  
  padding:1px 5px;
  
    -webkit-animation-name: shine;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-timing-function: linear;
    -khtml-animation-name: shine;
    -khtml-animation-duration: 0.6s;
    -khtml-animation-timing-function: linear;
    -moz-animation-name: shine;
    -moz-animation-duration: 0.6s;
    -moz-animation-timing-function: linear;
    -o-animation-name: shine;
    -o-animation-duration: 0.6s;
    -o-animation-timing-function: linear;
    -webkit-animation-name: shine;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-timing-function: linear;
    left:45px;
}

@-webkit-keyframes shine {
    0% { top: -15px; left: -48px; }
    10% { top: -5px; }
    20% { top: 5px; }
    30% { top: 15px; }
    40% { top: 25px; }
    50% { top: 35px; }
    60% { top: 25px; }
    70% { top: 15px; }
    80% { top: 5px; }
    90% { top: -5px; }
    100% { top:-15px; left:45px; -webkit-transform: rotate(-360deg); }
}

@-khtml-keyframes shine {
    0% { top: -15px; left: -48px; }
    10% { top: -5px; }
    20% { top: 5px; }
    30% { top: 15px; }
    40% { top: 25px; }
    50% { top: 35px; }
    60% { top: 25px; }
    70% { top: 15px; }
    80% { top: 5px; }
    90% { top: -5px; }
    100% { top:-15px; left:45px; -khtml-transform: rotate(-360deg); }
}

@-moz-keyframes shine {
    0% { top: -15px; left: -48px; }
    10% { top: -5px; }
    20% { top: 5px; }
    30% { top: 15px; }
    40% { top: 25px; }
    50% { top: 35px; }
    60% { top: 25px; }
    70% { top: 15px; }
    80% { top: 5px; }
    90% { top: -5px; }
    100% { top:-15px; left:45px; -moz-transform: rotate(-360deg); }
}

@-o-keyframes shine {
    0% { top: -15px; left: -48px; }
    10% { top: -5px; }
    20% { top: 5px; }
    30% { top: 15px; }
    40% { top: 25px; }
    50% { top: 35px; }
    60% { top: 25px; }
    70% { top: 15px; }
    80% { top: 5px; }
    90% { top: -5px; }
    100% { top:-15px; left:45px; -o-transform: rotate(-360deg); }
}

@-keyframes shine {
    0% { top: -15px; left: -48px; }
    10% { top: -5px; }
    20% { top: 5px; }
    30% { top: 15px; }
    40% { top: 25px; }
    50% { top: 35px; }
    60% { top: 25px; }
    70% { top: 15px; }
    80% { top: 5px; }
    90% { top: -5px; }
    100% { top:-15px; left:45px; transform: rotate(-360deg); }
}
